/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

.aboutPic
{
  display: flex;
  justify-content:space-evenly;
}


.appMain{
  display:flex;
  margin-left: 100px
}

.centerContent
{
  display:flex;
  justify-content:inherit
}

.cardContainer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textColor
{
  justify-content: center;
  color: #313639;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


body{
  background-image: url('/marble.jpg');
  background-size: 100%;
}

.aboutPic img{
  max-width: 300px;
}

.NavBar
{
  position: fixed;
  display: flex;
  flex-direction:column;
  background-color: rgba(255, 0, 0, 0.25);
  height: 100%;
  width: 70px;
  text-align: center;
}

.NavBar span
{
  color:white;
}


.resumeContainer
{
display: flex;
justify-content: center;
scale: 30%;
margin-left: -500px;
margin-top: -550px
}
.centerText
{
  text-align:center;
}


.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 250px; 
}

.card-image {

  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-description {

  margin-top: 10px;
}

.card-description p {
 
  margin: 0;
}

.card-description a {

  display: block; 
  text-align: right; 
  margin-top: 10px;
  color: blue; 
  text-decoration: none;
}

.iconFloat
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.iconFloat img
{
  max-width: 100px;
}

.navbar-brand img
{
  max-width: 60px;
}