.aboutPic
{
  display: flex;
  justify-content:space-evenly;
  
}


.appMain{
  display:flex;
  margin-left: 100px
  
}

.centerContent
{
  display:flex;
  justify-content:inherit
}

.textColor
{
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
}


.textShadow
{
  color: white;
  text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
}

body{
  background-image: url('/backgroundStars.jpeg');
  background-size: 100%;
}


.aboutPic img{
  max-width: 300px;
}
.NavBar
{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.25);
  height: 100%;
  width: 70px;
  text-align: center;
}

.NavBar span
{
  color:white;
}
.resumeContainer
{
scale: 30%;
margin-left: -850px;
margin-top: -1100px
}
.centerText
{
  text-align:center;
}


.card {
  /* Add styles for the card container */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 250px; /* Adjust the width to your preference */
}

.card-image {
  /* Set the dimensions for the image */
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-description {
  /* Add styles for the description container */
  margin-top: 10px;
}

.card-description p {
  /* Add styles for the description text */
  margin: 0;
}

.card-description a {

  display: block; 
  text-align: right; 
  margin-top: 10px;
  color: blue; 
  text-decoration: none;
}

.iconFloat
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.iconFloat img
{
  max-width: 100px;
}
